extends layout

block stylesheets
  link(rel="stylesheet", href="/stylesheets/editor.css")

block content
  nav.navbar.navbar-default.navbar-fixed-top
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href="/")= name
  p#timer.navbar-text
  input#duration(type="hidden", value="#{duration}")
  textarea#editor(autofocus="true")

block javascripts
  script(src="/javascripts/editor.js")
