doctype html
html
  head
    meta(charset="utf-8")
    title= __('app.title')
    link(rel="stylesheet", href="/stylesheets/style.css")
    block stylesheets
  body
    block content
    script(src="/javascripts/jquery.js")
    block javascripts