doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= __('app.title')
    link(rel="stylesheet", href="/vendors/bootstrap/css/bootstrap.min.css")
    block stylesheets
  body
    block content
    script(src="/vendors/jquery/jquery.js")
    script(src="/vendors/bootstrap/js/bootstrap.min.js")
    block javascripts