#editor {
  border: 0;
  bottom: 0;
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  left: 0;
  margin: 0 auto;
  padding: 15px;
  position: fixed;
  outline: none;
  resize: none;
  right: 0;
  top: 50px;
  width: 100%;
}

#timer {
  background-color: #F8F8F8;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  right: 0;
  top: 0;
}
